
*{
    margin: 0;
    padding: 0;
}

.cart-menu {

    background-color: #BE1622;
    color: #ffffff;
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-menu a {
    color: #ffffff;
    text-decoration: none;
}


.logo {
    margin-left: -30px;
    display: flex;
    align-items: center;
    gap: 15px;
}



.nav-panel {
    display: flex;
    gap: 20px;
}


.nav-panel a {
    padding: 20px 0;
}

.nav-panel a:hover {
    border-bottom: 3px solid #F2BE1A;
}
.nav-panel .current {
    border-bottom: 3px solid #F2BE1A;
}



@media (max-width: 768px) {
    .cart-menu {
        flex-direction: column;
    }

}