
*
{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
.cart-menu {
    background-color: #BE1622;
    color: #ffffff;
    width: 100%;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-menu a {
    color: #ffffff;
    text-decoration: none;
}

.img-logo {
    width: 180px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-panel {
    display: flex;
    gap: 20px;
}

.nav-panel a {
    padding: 20px 0;
}

.nav-panel a:hover,
.nav-panel .current {
    border-bottom: 3px solid #F2BE1A;
}



/* Footer  */
.footer {
    background-color: #34516C;
    color: #ffffff;
    width: 100%;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 45px;
}

.footer h4 {
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 20px;
}

.footer p,
.footer a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    line-height: 1.2;
}

/* Responsive  */
@media (max-width: 768px) {

    .cart-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-panel {
        margin-top: 8px;
    }



    .footer {
        padding: 20px;
        grid-template-columns: 1fr;
        row-gap: 2px;
    }
}


.title {

    margin: 20px auto;
    max-width: 800px;
    color: #F2BE1A;
    font-size: 2rem;

}

.welcome-text{
    max-width: 800px;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}


.cart-table {
    max-width: 800px;
    margin: 0 auto;
}


.cart-titles,
.cart-row {
    display: grid;
    grid-template-columns: 80px 1fr 50px;
    align-items: center;
    column-gap: 1.5rem;
}

.cart-titles {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}


.cart-row {
    padding: 1rem 0;
}

/* Quantity column */
.quantity {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


.cart-product {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.2rem;
}

.cart-image {
    width: 70px;
    height: 70px;

}


.product-price {
    font-size: 1.2rem;
    font-weight: bold;

}
