
*
{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
.item-menu {
    background-color: #BE1622;
    color: #ffffff;
    width: 100%;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-menu a {
    color: #ffffff;
    text-decoration: none;
}

.img-logo {
    width: 180px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-panel {
    display: flex;
    gap: 20px;
}

.nav-panel a {
    padding: 20px 0;
}

.nav-panel a:hover,
.nav-panel .current {
    border-bottom: 3px solid #F2BE1A;
}



/* Footer  */
.footer {
    background-color: #34516C;
    color: #ffffff;
    width: 100%;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 45px;
}

.footer h4 {
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 20px;
}

.footer p,
.footer a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    line-height: 1.2;
}

/* Responsive  */
@media (max-width: 768px) {

    .item-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-panel {
        margin-top: 8px;
    }



    .footer {
        padding: 20px;
        grid-template-columns: 1fr;
        row-gap: 2px;
    }
}


.productCard {
    max-width: 550px;
    margin: 0 auto ;
    background-color: #C7CBDA;
    border-radius: 1px;
    display: flex;
    flex-direction: column;

}

.product-more{
    text-decoration: none;
}


.product-image {
    max-width: 550px;
    display: block;
    width: 100%;
    padding: 20px 14px ;
    background-color: #ffffff;
    border: 1px solid #C7CBDA;
}


.product-name {
    font-size: 2rem;
    color: #F2BE1A;
    margin: 0.75rem 1rem 0.25rem;
}

.product-description {
    font-size: 1rem;
    color: #000000;
    margin-left: 10px;
    margin-right: 100px;
}


.product-price {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px
}

.productCard button {
    align-self: flex-start;
    margin-bottom : 20px;
    margin-left : 20px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #000000;
    background: #C7CBDA;
    cursor: pointer;
}
.productCard button:hover {
    background: #BE1622;
}
