body {

    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}
*{
    margin: 0;
    padding: 0;
}

.products-menu {

    background-color: #BE1622;
    color: #ffffff;
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.products-menu a {
    color: #ffffff;
    text-decoration: none;
}


.logo {
    margin-left: -30px;
    display: flex;
    align-items: center;
    gap: 15px;
}



.nav-panel {
    display: flex;
    gap: 20px;
}


.nav-panel a {
    padding: 20px 0;
}

.nav-panel a:hover {
    border-bottom: 3px solid #F2BE1A;
}
.nav-panel .current {
    border-bottom: 3px solid #F2BE1A;
}



.content {

    flex-grow: 1;
    padding: 32px 60px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer {
    background-color: #34516C;
    color: #ffffff;
    padding: 20px 60px;
    margin-left: -25px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 45px;
}


.footer h4 {
    /* Gold Accent Color */
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 20px;
}
.footer p, .footer a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .homepage-menu {
        flex-direction: column;
    }

    .footer {

        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: 1fr; /* from 3 to 1 */
    }


}